@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins-Medium.ttf);
}

::-webkit-scrollbar {
    width: 0;
}

*,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
}

/* merge property start */
/* .nav1,
.nav2,
aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* menu,
.dif-column,
.fill-dif-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* merge property end */

/* menu start */
.menu {
    background-color: #00B6BC;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.nav1 {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
}

.nav1 p {
    font-size: 26px;
    font-weight: 600;
}

.nav1 img {
    width: 80px;
}

.nav2 {
    margin-right: 20px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav2 a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 5px 20px;
}

.nav2 a:hover {
    border-radius: 10px;
    padding: 5px 20px;
    color: #00B6BC;
    background-color: black;
    transition: .3s;
}


/* menu end */

/* aside start */
aside {
    background-color: rgba(161, 219, 241, 0.5);
    /* background-color: #A1DBF1; */
    /* height: 81%; */
    /* height: 100%; */
    top: 0;
    bottom: 0;
    float: left;
    width: 15%;
    position: fixed;
    z-index: -99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo1,
.logo2 {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.apalah {
    text-align: center;
}

aside img {
    width: 50%;
}

/* aside end */

/* main start */

.main {
    background-color: #E4F4F3;
    width: 85%;
    float: right;
    display: flex;
    flex-direction: column;
}

.main-banner {
    background-image: url(aset/banner.png);
    backgorund-repeat:no-repeat;
    filter: blur(2.5px);
    width: 85%;
    height: 88%;
    float: right;
    margin-top: 85px;
}

.bg-text {
    position: absolute;
    top: 45%;
    left: 55%;
}

.bg-text h1 {
    margin: auto;
    font-size: 100px;
    text-shadow: 5px 4px 0px #a3a3a3, 4px 4px 0px rgba(19, 100, 139, 0.42);
    color: white;
}

.main-form {
    height: 83%;
    padding-top: 20px;
}

/* main end */

/* footer start */
footer {
    background-color: #71D5E4;
    height: 7%;
    clear: both;
}

/* footer end */
section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* KONTEN INDRA START */
/*untuk heading*/
h2 {
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
/*untuk tombol*/
.card{
    display: flex;
    text-align: center;
    justify-content: space-evenly;


}

.card1 {
    border-radius: 15px;
    background-image: url("aset/gambar-polir-4.jpg");
    width: 100%;
    height: 100%;
}

.card2 {
    border-radius: 15px;
    background-image: url("aset/gambar-polir-5.jpg");
    width: 100%;
    height: 100%;
}
/*untuk informasi(pengertian)*/
.pengertian {
    text-align: justify;
    margin: 10px;
}
/*untuk sejarah polo air dunia&PRSI*/
.sejarah {
    display: flex;
    margin: 10px;
}

.spolo {
    padding-right: 10px;
    width: 55%;
}


.sprsi {
    width: 45%;
}
/*untuk cara bermain*/
.penghubung {
    display: flex;
    margin: 10px;
    background-image: url("aset/gambar-polir-1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;
}

.cara {
    width: 50%;
    padding: 10px;
}
/*untuk lomba*/
.kata2 {
    margin: 10px;
}
/*untuk ketentuan lomba*/
.ketentuan {
    display: flex;
    margin: 10px;
    background-image: url("aset/gambar-polir-2.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 58% 40%;
}
/*untuk syarat lomba*/
.syarat {
    margin-left: 25px;
    margin-right: 15px;
}
/*untuk atruran lomba*/
.aturan {
    margin-left: 25px;
    margin-right: 15px;
}

.list1 {
    
}

.list2 {
    margin-left: 20px;
}
/* KONTEN INDRA END */

/*KONTEN AZHARI START  */
.main h1 {
    font-size: 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 20px;
}

.row {
    display: flex;
}

.each-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.input {
    background-color: #71D5E4;
    height: 35px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #E4F4F3;
}

.each-column input:focus {
    outline: 0;
}

.success input,
.success .fill-dif-column,
.success .valid-column {
    border-color: #0084ff;
}

.error input,
.error .fill-dif-column,
.error .valid-column {
    border-color: red;
}

.textError {
    display: flex;
    height: 13px;
    align-items: center;
    font-size: 12px;
    color: red;
    margin-top: 3px;
    margin-bottom: 2px;
}

.textError img {
    width: 12px;
    margin-right: 5px;
}

label {
    font-weight: 500;
}

textarea {
    background-color: #71D5E4;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
}

.each-column button {
    padding: 10px;
    width: 33%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #00B6BC;
    color: #E4F4F3;
}

.each-column button:hover {
    background-color: #38c3c8;
}

.dif-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: auto;
    margin-left: 0;
    width: 100%;
    /* border-radius: 10px; */
    /* margin-top: 5px; */
    /* background-color: greenyellow; */
}

.fill-dif-column {
    background-color: #71D5E4;
    width: 30%;
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #E4F4F3;
}

.valid-column {
    background-color: #71D5E4;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border: 2px solid #E4F4F3;
}

.valid-column a {
    font-weight: 650;
    color: rgb(47, 47, 255);
}

.row-valid {
    margin: 10px 0;
}

/*KONTEN AZHARI END  */


/* KONTEN MUMTAZ START */

/*Mengatur isi dari content*/
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.menengah_h1{
    text-align: center;
}

/*Untuk mengatur table*/
.kotak {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/*Untuk border pada table*/
.garis{
    border: 1px solid #ddd;
}

/*Mengatur jarak dan align pada isi table*/
.garis, th, td{
    padding: 10px;
    text-align: left;
}

.warna_th {
    background-color: #71D5E4;
}

/*Untuk menghilangkan simbol pada list*/
.list_hilang{
    list-style: none;
}

.yes {
    color: green;
    border: 1px solid #ddd;
}

.no {
    color: red;
    border: 1px solid #ddd;
}
/* KONTEN MUMTAZ END */


/* KONTEN RIZAL START */
.div {
    background-color: #E4F4F3;
    width: 85%;
    height: 90%;
    float: right;
    display: flex;
    flex-direction: column;
}

.div-about-us-1{
    padding-top: 85px;
}

.div-about-us-1,.div-about-us-2,.div-about-us-3,.div-about-us-4 {
    display: block;
}

.div-about-us-1,.div-about-us-3,.div-about-us-4 {
    height: auto;
}


.team {
    display:flex;
    justify-content :center;
    align-items :center;
    /* background-color: cyan; */
    font-size: 60px;
    text-shadow: 6px 3px 0px #7A7A7A, 4px 4px 0px rgba(19,100,139,0.42);
    margin-bottom: 40px;
    margin-top: 25px;
}

.desc,.desc-kel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.desc-kel {
    font-weight: 900;
    opacity: .8;
}

.container_foto {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.a1 {
    margin-top: 30px;
}

.a2 {
    margin-bottom: 30px;
}

.a1,
.a2 {
    width: 10%;
    vertical-align: middle;
    
}


.konten2 {
    margin-bottom: 30px;
}

.a1,
.a2,
.konten,
.konten2 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.7);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
}

.konten,
.konten2 {
    padding: 20px;
}

.foto1,
.foto2,
.foto3,
.foto4 {
    width: 23%;
    height: 100%;
    position: relative;
    max-width: 800px;
}

.div-about-us-3 .team {
    /* background-color: #0084ff; */
    margin-top: 100px;
}

.container_table {
    overflow-x: auto;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabel {
    color: #444;
    border-collapse: collapse;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, rgba(0,0,0,0);
}
.tabel,td,th {
    border : 1px solid black;
}

.toptabel {
    background-color: #71D5E4;
}
.mid-tab {
    margin:auto;
}

tr,td {
    padding-left: 5px
}

.right-tab-top,.mid-tab-top,.left-tab-top {
    text-align: center;
    padding: 10px;
}

.left-tab {
    padding: 5px;
    text-align: center;
}

.mid-tab {
    width: 300px;
}

/* KONTEN RIZAL END */
