@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 0;
}

*,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
}

/* merge property start */
/* .nav1,
.nav2,
aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* menu,
.dif-column,
.fill-dif-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* merge property end */

/* menu start */
menu {
    background-color: #00B6BC;
    height: 12%;
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    width: 100%;
    top: 0; */
}

.nav1 {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
}

.nav1 p {
    font-size: 26px;
    font-weight: 600;
}

.nav2 p {
    font-size: 18px;
    font-weight: 500;
    /* background-color: #E4F4F3; */
    /* background-color: #0ff7ff; */
    /* background-color: #71D5E4; */
    padding: 5px 20px;
    border-radius: 10px;
}

.nav2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.nav1 img {
    width: 80px;
}

/* menu end */

/* aside start */
aside {
    background-color: rgba(161, 219, 241, 0.5);
    /* background-color: #A1DBF1; */
    /* height: 81%; */
    /* height: 100%; */
    top: 0;
    bottom: 0;
    float: left;
    width: 15%;
    position: fixed;
    /* margin-top: 85.7px; */
    z-index: -99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

aside img {
    width: 50%;
    /* border-radius: 50%; */
    /* background-color: #0ff7ff; */
    /* background-color: #71D5E4; */
    /* background-color: azure; */
    /* padding: 10px; */
}

/* aside end */

/* main start */
main {
    background-color: #E4F4F3;
    width: 85%;
    height: 81%;
    float: right;
    display: flex;
    flex-direction: column;
    /* padding-top: 85px; */
}
/* main end */

/* footer start */
footer {
    background-color: #71D5E4;
    height: 7%;
    clear: both;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}
/* footer end */
section {
    background-color: #E4F4F3;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* KONTEN INDRA START */
/* KONTEN INDRA END */

/*KONTEN AZHARI START  */
main h1 {
    font-size: 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 15px;
}

.row {
    display: flex;
    padding: 5px;
}

.each-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

label {
    font-weight: 500;
}

.input {
    background-color: #71D5E4;
    height: 35px;
    padding: 5px 25px;
    border-radius: 10px;
    border: none;
}

textarea {
    background-color: #71D5E4;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.each-column button {
    padding: 10px;
    width: 33%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #00B6BC;
    color: #E4F4F3;
}

.dif-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 5px;
    margin: auto;
    margin-left: 0;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.fill-dif-column {
    background-color: #71D5E4;
    width: 30%;
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.valid-column {
    background-color: #71D5E4;
    padding: 10px;
    width: 99%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.valid-column a {
    font-weight: 650;
    color: rgb(47, 47, 255);
}
/*KONTEN AZHARI END  */

/* KONTEN MUMTAZ START */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.yes {
    color: green;
}

.no {
    color: red;
}
/* KONTEN MUMTAZ END */

/* KONTEN RIZAL START */
.container_foto {
    margin :auto;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.a1 {
    margin-top: 30px;
    }
.a2 {
    margin-bottom: 30px;
}

.a1, .a2 {
    width: 100%;
    vertical-align: middle;
}

.konten2 {
    margin-bottom: 30px;
}

.a1,.a2, .konten,.konten2 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
}
.konten, .konten2 {
    padding: 20px;
}

.foto1, .foto2, .foto3, .foto4 {
    width: 23%;
    height: 100%;
    position: relative;
    max-width: 800px;

}

.container_table {
    overflow-x: auto;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tabel {
    color: #444;
    border-collapse: collapse;
}
.toptabel {
    background-color: #82d2f1;
}

#job, #pj,#pjtop, #no {
    padding-left: 5px 
}
#pjtop {
    text-align: center;
    padding-right: 5px;
}

#no {
    padding: 5px;
    text-align: center;
}

#job {
    width: 300px;
}
/* KONTEN RIZAL END */

